@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
.header {
  background-color: #FFF;
  padding: 20px 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
  background-color: rgb(225, 213, 231);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(102, 107, 110, 0.5), -1px 1px 2px rgba(102, 107, 110, 0.5);
}
@media (max-width: 1170px) {
  .header-wrap {
    margin: 0 -10px;
  }
}
@media (max-width: 320px) {
  .header-wrap {
    padding: 15px;
  }
}

.header-title {
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 64px;
}
@media (max-width: 1024px) {
  .header-title {
    font-family: "Raleway";
    font-weight: 600;
    color: rgb(30, 30, 30);
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  .header-title {
    font-family: "Raleway";
    font-weight: 600;
    color: rgb(30, 30, 30);
    font-size: 36px;
  }
}

.header-clock {
  background-color: #FFF;
  padding: 8px 14px;
  border-radius: 10px;
  min-width: 80px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(102, 107, 110, 0.5), -1px 1px 2px rgba(102, 107, 110, 0.5);
}

.task {
  background-color: #FFF;
  padding: 20px 0;
}

.task-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 1058px) {
  .task-wrap {
    justify-content: center;
  }
}

.task-todo {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(102, 107, 110, 0.5), -1px 1px 2px rgba(102, 107, 110, 0.5);
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px 0;
}
@media (max-width: 1170px) {
  .task-todo {
    margin: 0 15px 15px 15px;
  }
}
@media (max-width: 360px) {
  .task-todo {
    margin: 0 0 15px 0;
  }
}
.task-todo:last-child {
  margin-right: 0;
}
@media (max-width: 1170px) {
  .task-todo:last-child {
    margin-right: 15px;
  }
}
@media (max-width: 360px) {
  .task-todo:last-child {
    margin-right: 0;
  }
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(102, 107, 110, 0.5);
}

.task-header-title, .task-header-count {
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 36px;
}

.task-container {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 62vh;
}
@media (max-width: 320px) {
  .task-container {
    overflow-y: hidden;
    max-height: none;
  }
}

.task-card {
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px rgba(102, 107, 110, 0.5), -1px 1px 2px rgba(102, 107, 110, 0.5);
  cursor: move;
  user-select: none;
}
@media (max-width: 1058px) {
  .task-card {
    width: 480px;
  }
}
@media (max-width: 540px) {
  .task-card {
    width: 300px;
  }
}
@media (max-width: 360px) {
  .task-card {
    width: 290px;
  }
}
.task-card:last-child {
  margin-bottom: 0;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-card-header-title {
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 30px;
}

.task-card-header-actions button {
  padding: 6px;
  border-radius: 6px;
  text-transform: uppercase;
  margin-right: 4px;
  border: 1px solid rgba(102, 107, 110, 0.5);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s;
}
.task-card-header-actions button:not(:disabled):hover {
  opacity: 1;
  transform: scale(1.02);
}
.task-card-header-actions button:not(:disabled):active {
  transform: scale(0.98);
}
.task-card-header-actions button:last-child {
  margin-right: 0;
}

.task-card-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  min-height: 60px;
}
.task-card-main button {
  align-self: stretch;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid rgba(102, 107, 110, 0.5);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s;
}
.task-card-main button:not(:disabled):hover {
  opacity: 1;
  transform: scale(1.02);
}
.task-card-main button:not(:disabled):active {
  transform: scale(0.98);
}

.task-card-main-description {
  margin-right: 6px;
  font-family: "Raleway";
  color: rgb(30, 30, 30);
  font-size: 18px;
}

.task-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card-footer-user, .task-card-footer-time {
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 24px;
}

.task-footer {
  border-top: 1px solid rgba(102, 107, 110, 0.5);
}
.task-footer button {
  width: 100%;
  padding: 10px 0;
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s;
}
.task-footer button:hover {
  transform: scale(1.02);
}

.task-color-todo {
  background-color: rgb(213, 232, 212);
}
.task-color-todo .task-footer-btn:hover {
  background-color: rgb(180, 232, 180);
}
.task-color-todo .task-footer-btn:active {
  background-color: rgb(150, 242, 150);
}

.task-color-inprogress {
  background-color: rgb(245, 245, 245);
}

.task-color-done {
  background-color: rgb(218, 232, 252);
  cursor: default;
}
.task-color-done .task-footer-btn:hover {
  background-color: rgb(198, 212, 252);
}
.task-color-done .task-footer-btn:active {
  background-color: rgb(178, 192, 252);
}

.task-card-zero {
  text-align: center;
  cursor: default;
}

.card-drop {
  pointer-events: none;
  animation-name: opacityAnimation;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

body.modal-show {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 107, 110, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
}

.modal-window {
  width: 460px;
  transform: translate(-50%, -50%);
  max-height: 100%;
  overflow-y: auto;
  background-color: rgb(213, 232, 212);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(102, 107, 110, 0.5), -1px 1px 2px rgba(102, 107, 110, 0.5);
  transition: 0.5s;
}
@media (max-width: 660px) {
  .modal-window {
    width: 420px;
  }
}
@media (max-width: 460px) {
  .modal-window {
    width: 330px;
  }
}
@media (max-width: 400px) {
  .modal-window {
    width: 310px;
  }
}
@media (max-width: 320px) {
  .modal-window {
    width: 280px;
  }
}
.modal-window input {
  margin-bottom: 16px;
  border-radius: 6px;
  padding: 10px;
  width: 50%;
  font-size: 24px;
}
@media (max-width: 460px) {
  .modal-window input {
    margin-bottom: 10px;
    padding: 4px;
    font-size: 14px;
  }
}
.modal-window textarea {
  margin-bottom: 16px;
  resize: none;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  font-size: 24px;
}
@media (max-width: 460px) {
  .modal-window textarea {
    margin-bottom: 10px;
    padding: 4px;
    font-size: 14px;
  }
}
.modal-window select {
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  font-size: 24px;
}
@media (max-width: 460px) {
  .modal-window select {
    padding: 4px;
    font-size: 14px;
  }
}
.modal-window select option {
  padding: 2px;
}
.modal-window .modal-window-select {
  margin-right: 6px;
  flex-grow: 1;
  max-width: 51%;
}
@media (max-width: 660px) {
  .modal-window .modal-window-select {
    max-width: 46%;
  }
}
@media (max-width: 320px) {
  .modal-window .modal-window-select {
    max-width: 49%;
  }
}
.modal-window .modal-window-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-window .modal-window-footer button {
  padding: 10px;
  border-radius: 6px;
  margin-right: 4px;
  font-size: 24px;
  border: 1px solid rgba(102, 107, 110, 0.5);
  cursor: pointer;
  opacity: 0.7;
  transition: 0.1s;
}
.modal-window .modal-window-footer button:not(:disabled):hover {
  opacity: 1;
  transform: scale(1.02);
}
.modal-window .modal-window-footer button:not(:disabled):active {
  transform: scale(0.98);
}
@media (max-width: 460px) {
  .modal-window .modal-window-footer button {
    padding: 6px;
    font-size: 14px;
  }
}
.modal-window .modal-window-footer button:last-child {
  margin-right: 0;
}

.modal-click-background {
  transform: scale(1.05) translate(-49%, -49%);
}

.modal-text-container {
  padding: 20px;
}
.modal-text-container p {
  text-align: center;
  font-family: "Raleway";
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 24px;
}

.modal-window-footer-end {
  justify-content: end !important;
}

.modal-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 320px) {
  .modal-main-container {
    display: block;
    text-align: center;
  }
}
.modal-main-container:first-child {
  margin-left: 20px;
}
@media (max-width: 320px) {
  .modal-main-container:first-child {
    margin-left: 0;
  }
}
.modal-main-container img {
  height: 80px;
  width: 80px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

button {
  border: none;
  outline: none;
}

input, textarea, select {
  outline: none;
  border: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
}

.scroll-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: rgba(102, 107, 110, 0.5);
  border-radius: 9em;
  border: 2px solid transparent;
  background-clip: content-box;
}
.scroll-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(102, 107, 110, 0.4);
}

/*# sourceMappingURL=/scss.6b84482b.css.map */