// colors
$_black: rgb(30, 30, 30);
$_white: #FFF;
$_violet: rgb(225, 213, 231);

$_green: rgb(213, 232, 212);
$_green-hover: rgb(180, 232, 180);
$_green-active: rgb(150, 242, 150);

$_red: rgb(248, 206, 204);
$_blue: rgb(218, 232, 252);
$_blue-hover: rgb(198, 212, 252);
$_blue-active: rgb(178, 192, 252);

$_gray: rgba(102, 107, 110, .5);

$_gray-progress: rgb(245, 245, 245);