//breakpoints:
//mobile: 320px
//tablet: 1024px
//desktop: > 1024px

@import "./cdn";
@import "./variables";
@import "./mixins";
@import "./header.scss";
@import "./task.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

button {
  border: none;
  outline: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
}