//breakpoints:
//mobile: 320px
//tablet: 1024px
//desktop: > 1024px

@import "./cdn";
@import "./variables";
@import "./mixins";
@import "./header.scss";
@import "./task.scss";
@import "./modal.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

button {
  border: none;
  outline: none;
}

input, textarea, select {
  outline: none;
  border: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
}

.scroll-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: $_gray;
  border-radius: 9em;
  border: 2px solid transparent;
  background-clip: content-box;

  &:hover {
      background-color: rgba($_gray, .4);
  }
}